/* common */
body {margin: 0}
.clearfix::after{display: block; content:''; clear: both; }
.hide {display: none;}

/* header, gnb */
header {background-color: rgb(243, 240, 230); padding: 20px;}
.nav-wrap {background-color: rgb(190, 209, 242);}
header > div, main, .nav-wrap nav {width: 960px; margin: 0 auto;}
.nav-wrap a {background: url(https://cdn.discordapp.com/attachments/1070923622404849747/1077511487976902708/KakaoTalk_20230220_203049440.png) no-repeat; text-indent: -9999px;}
.gnb {margin: 0; padding: 16px;}
.gnb > li, .gnb > li > a {display: block; float: left; width: 50px; height: 20px; position: relative;}
.gnb > li:first-child > a {background-position: -27px -32px;}
.gnb > li:last-child > a {background-position: -215px -32px;}
.gnb-dropdown {position: absolute; background-color: rgb(190, 209, 242); top: 30px; left: -8px; padding: 4px; z-index: 99999; display: none;}
.gnb-dropdown li {list-style: none; width: 100px; margin: 10px;}
.gnb-dropdown li a {display: block; width: 100px;}
.gnb-dropdown li:first-child a {background-position: -77px -32px;}
.gnb-dropdown li:last-child a {background-position: -183px -32px;}
.nav-wrap .gnb a:hover, .nav-wrap .gnb a :focus {background-position-y: -59px;}

/* index main */
.index > section {float: left; width: 630px; padding: 20px; margin: 50px 0;}
.slider {width: 630px;}
.slider img {width: 100%; height: 298.352px;}

/* .index section {margin: 50px 0;} */
.index aside {float: right; width: 200px; padding: 20px;}

aside a:nth-of-type(1) {display: block; text-decoration: none;  
    text-align: center;
    background-color: rgb(190, 209, 242); color: black;
    margin-top: 67px; text-align: center;
    padding: 30px;
}

aside a:nth-child(1):hover{color: blue}

.container {min-height: 700px; width: 900px; padding: 30px; }
.section-first {margin: 0px; width: 600px; min-height: 300px; float: left; 
    background-image: url(https://cdn.pixabay.com/photo/2017/05/20/20/22/clouds-2329680__340.jpg);
}
body .section-first h3 {text-align: left; }
.booking {float: left; background-color: white;
    padding: 20px;
    margin: 42px 87px;
}
.booking1, .booking2, .booking3 {margin: 0;}
.aside {margin: 0; width: 295px; float: right;}
.btn-login {width: 200px; height: 80px; font-size: 20px; display: block; float: left; margin: 0 75px;}
.btn-login a {text-decoration: none;}
.link {display: block; float: right; margin: 0 40px;}
.section-second {clear: both; margin: 0; width: 895; min-height: 400px; display: block;}
.card {width: 280px; min-height: 350px; float: left; margin: 25px 10px; }
.card img {width: 280px; height: 250px; margin: 0 auto; transform: all .2s;}
.card a {color: #222; text-decoration: none; }
.expl {width: 280px; height: 100px; margin: 0 auto;}
.expl h3, p {margin-top: 0; text-align: center;}
.card a > div:first-child {overflow: hidden; margin: 0 5px;}
.card a > div > h3{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.card h3 {color: #222}
.card a:hover img {transform: scale(1.03);}
.card a > div:hover h3 {text-decoration: underline;}

form {width: 600px; margin: 0 auto; }
legend {font-size: 20px; margin: 10px 0;}
form input:not([type="checkbox"]), form button {width: 90%; padding: 8px; margin: 10px 0; }
form output {font-size: 12px; color: red; float: left; margin: 0 20px;}
body label {float: left; margin: 0 20px;}

.contract {padding: 80px 0;}
.contract-content {white-space: pre-line; height: 300px; overflow: scroll; text-align: left;}
.agree {float: right; display: block; margin: 0;}
#btn {clear: both; display: block; float: right; width: 100px; height: 40px; margin: 0 20px;}
#btn a {text-decoration: none; }

.signin{padding: 50px 0;}
#login {width: 90%;}

#title {width: 90%; display: block; margin: 10px auto;}
.content {width: 554px; height: 300px;}
.btn {width: 15%; display: inline-block; }
.btn2 {margin: 0;}
.btn a {text-decoration: none;}

body .write button:first-child {width: 90px; text-decoration: none; text-align: center; }

.signup{padding: 50px 0;}
.write {padding: 50px 0;}

.board-list {padding: 50px 0}
.board-list table {width: 100%; border-collapse: collapse;}
.board-list thead { background-color: #ddd;}
.board-list th, .board-list td {padding: 14px;}
.board-list th {width: 10%; }
.board-list th+th {width: 75%;}
.board-list th+th+th {width: 15%;}
.board-list td {text-align: center; border-top:  3px solid #ddd;}
.board-list td:nth-child(2) {text-align: left;}
.border-list tfoot td {text-align: right; padding-right: 30px;}
.pagenation {text-align: center;}
.pagenation button {padding: 15px;}
.pagenation a {text-decoration: none;}


body .detail1 {text-align: left;}
.writebtn {width: 70px; height: 40px; border: 1px solid; margin: 10px 2px;}

/* footer */
footer {padding: 30px; text-align: center; background-color: rgb(190, 209, 242); }